.chip {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.75rem;
    background-color: #d1d5db;
    color: var(--main-bg-clr);
    border-radius: 500px;
    font-size: var(--small-fz);
    text-transform: capitalize;
}
