* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --wrapper-max-width: 95rem;
  --wrapper-width: 92.5%;
  --max-width-med: 80rem;
  --page-title-fz: 1.75rem;
  --main-bg-clr: #111827;
  --ultra-light-grey:  #f9fafb;
  --dark-grey: #1f2937;
  --brand-orange: #fdba74;
  --supporting-txt-clr: #9ca3af;
}

body,
select,
input,
textarea,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  font-size: 1rem;
}

body {
  background-color: var(--main-bg-clr);
  color: #fff;
}

p {
  line-height: 1.6;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

/* Base err msg styling */
.error {
  margin-bottom: 1rem;
  padding: .5rem;
  background-color: #fecaca;
  color: #b91c1c;
  font-weight: 700;
}

/* Base cta btn styling */
.cta-btn {
  padding: .625rem 1.25rem;
  border: none;
  border-radius: 4px;
  background-color: var(--brand-orange);
  color: var(--main-bg-clr);
  font-weight: 700;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: .08rem;
  cursor: pointer;
}
