* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --wrapper-max-width: 80rem;
  --wrapper-width: 92.5%;
  --page-title-fz: 1.75rem;
}

body,
select,
input,
textarea,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

body {
  background-color: #111827;
  color: #fff;
}

p {
  line-height: 1.6;
}

/* Base err msg styling */
.error {
  margin-bottom: 1rem;
  padding: .5rem;
  background-color: #fecaca;
  color: #b91c1c;
  font-weight: 700;
}
