.dashboard__favorites__article {
    margin-bottom: 6rem;
}

.dashboard__favorites__article-link {
    color: inherit;
    text-decoration: none;
}

.dashboard__favorites__article__title {
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.dashboard__favorites__article__fig {
    margin-bottom: .25rem;
}

.dashboard__favorites__article__fig__img {
    max-width: 50rem;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.dashboard__favorites__article__delete-btn {
    padding: .5rem .75rem;
    background: none;
    border: 1px solid var(--ultra-light-grey);
    border-radius: 4px;
    color: var(--ultra-light-grey);
    text-transform: uppercase;
    letter-spacing: .08em;
    cursor: pointer;
}

@media screen and (max-width: 34em) {
    .dashboard__favorites__article__fig__img {
        height: 18rem;
    }

    .dashboard__favorites__article__title {
        font-size: var(--heading-sm-fz);
    }

    .dashboard__favorites__article__delete-btn {
        font-size: var(--small-fz);
    }
}