.dashboard-main {
    margin: 0 auto;
    padding: 0 0.875rem;
    max-width: var(--wrapper-max-width);
    width: var(--wrapper-width);
}

.dashboard-main__title {
    margin-bottom: 1.25rem;
}

.dashboard-form {
    max-width: 40rem;
}

.dashboard-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.dashboard-form__label {
    margin-bottom: 0.5rem;
}

.dashboard-form__input {
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    border: none;
}

.dashboard-form__textarea {
    padding: 0.75rem 1rem;
    line-height: 1.6;
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 36em) {
    .dashboard-main {
        padding: 0;
    }
}
