.dashboard-main {
    margin: 0 auto;
    padding: 0 .875rem;
    max-width: var(--wrapper-max-width);
    width: var(--wrapper-width);
}

.dashboard-form {
    max-width: 40rem;
}

.dashboard-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.dashboard-form__label {
    margin-bottom: .5rem;
}

.dashboard-form__input {
    padding: .5rem .75rem;
}

.dashboard-form__textarea {
    padding: .75rem 1rem;
    line-height: 1.6;
}