.dashboard-nav__list {
    display: inline-flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
    list-style: none;
    border-bottom: 1px solid var(--supporting-txt-clr);
}

.dashboard-nav__link {
    text-decoration: none;
    color: #fff;
}

.dashboard-nav__link.active {
    color: var(--brand-orange);
}

@media screen and (max-width: 43em) {
    .dashboard-nav__list {
        gap: 1rem;
    }
}

@media screen and (max-width: 36.25em) {
    .dashboard-nav__list {
        flex-direction: column;
    }
}
