.dashboard-nav__list {
    display: inline-flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
    padding-bottom: .5rem;
    list-style: none;
    border-bottom: 1px solid var(--supporting-txt-clr);
}

.dashboard-nav__link {
    text-decoration: none;
    color: #fff;
}

.dashboard-nav__link.active {
    color: var(--brand-orange);
}