.header {
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.nav {
    margin: 0 auto;
    padding: 0 .875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--wrapper-max-width);
    width: var(--wrapper-width);
}

.nav__logo-img {
    width: 13rem;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 3ch;
    list-style: none;
}

.nav__link {
    padding: .5rem 0;
    color: inherit;
    text-decoration: none;
    font-size: 1.0625rem;
}

.search-form {
    width: 25rem;
}

.search-form__input {
    width: 100%;
    padding: .5625rem .5rem;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    outline: none;
    caret-color: #fff;
    border-bottom: 2px solid #D1D5DB;
    color: #fff;
}

.search-form__input::placeholder {
    color: #D1D5DB;
}

.search-form__input:focus {
    border-bottom-color: #fff;
}