:root {
    --grid-col-height: 375px;
}

.masonry-grid {
    display: flex;
    flex-wrap: wrap;
    padding-left: .875rem;
    max-width: var(--wrapper-max-width);
    width: var(--wrapper-width);
    margin: 0 auto;
    gap: 1rem;
}

.masonry-grid__link {
    width: auto;
    height: var(--grid-col-height);
    flex: 1 0 auto;
}

.masonry-grid__link__fig {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--grid-col-height);
}

.masonry-grid__link__img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    object-fit: cover;
    width: 100%;
    height: 100%;
}

.masonry-grid__link__fig-caption {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

@media screen and (max-width: 55em) {
    .masonry-grid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        gap: 1rem;
    }

    .masonry-grid__link {
        margin: 0;
    }
}