.subscriptions-grid__card-link-container {
    color: inherit;
    text-decoration: none;
}

.subscriptions-grid__card {
    margin-bottom: 6rem;
}

.subscriptions-grid__card__title {
    margin-bottom: .5rem;
    font-size: var(--heading-med-fz);
}

.subscriptions-grid__card__user-desc {
    color: var(--supporting-txt-clr);
}

.subscriptions-grid__card__user-desc__user-link {
    color: var(--brand-orange);
}

.subscriptions-grid__card__fig__img {
    max-width: 50rem;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}